@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Split gutter styling */
.gutter {
    background-color: #444;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    width: 6px;
}

.gutter.gutter-vertical {
    cursor: row-resize;
    height: 6px;
}